/*
 * TableCustom 表格列自定义显示插件
 * Author: Kevin
 * Date: 2019-11-18
 */

@charset "utf-8";
.tbcustom {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
}

.tbcustom-toast {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 800px;
    font-size: 14px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, .08);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .08);
}

.tbcustom-toast ul {
    list-style: none;
}

.tbcustom-title {
    position: relative;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    background: #1E9FFF;
}

.tbcustom-title-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    font-size: 13px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABO0lEQVRIS8XX3RGCMAwA4GQDN9ERdBM3ETdxEx1BN3GDeuESr5S2+aGePHkI/QhtkoLwpwPFTSnt6Dcivn/xLOX4M5xSOgDAncETIj5H4rXxBZ4A4MIYRTwMz9D5jQLAFREngenkAwD2I/EK+gKAI01nOcfD8B46r6V8LnkBbMY1dAXzQtv02i1oFd6CW9EmHME9aBf24F5UhS14BDXBPZwzgiqeFIdvnmqVb5FOvYsbqUa3uFFzxEUjyfNc/jJHKjeYI87wY9ZQ5DTVdnog8+GCKwtJIHdjMcON1UtwqLGY4FbKcLih2q7CWp5GG0sX1tDOalfnvAlb0Shehb1oBF/BUdSLlzsQ2W2GyqAHz/dcQ1ArXu6rN0Va1steqtX21e6C7+xqq331jQc4j/6M4cgX46uVy9xunBd+AP0KIS75TxQSAAAAAElFTkSuQmCC) center no-repeat;
    background-size: 15px;
    cursor: pointer;
}

.tbcustom-title-close:hover {
    opacity: 0.8;
}

.tbcustom-title-close:active {
    opacity: 1;
}

.tbcustom-main {
    overflow: auto;
    min-height: 350px;
}

.tbcustom-foot {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.tbcustom-submit {
    margin: 5px;
    display: inline-block;
    width: 126px;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tbcustom-submit:hover {
    opacity: 0.8;
}

.tbcustom-submit:active {
    opacity: 1;
}

.tbcustom-tip {
    margin: 10px 0 20px;
    text-align: center;
    color: #999999;
    font-size: 13px;
    line-height: 18px;
}

.tbcustom-main-list {
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.tbcustom-main-list li {
    float: left;
    width: 19.9%;
    height: 30px;
    font-size: 14px;
    letter-spacing: 0;
    display: inline-block;
}

.tbcustom-main-checkbox-label {
    margin-left: 5px;
}

.tbcustom-all-items {
    display: inline-block;
    margin: 10px auto;
	padding: 0;
}

.tbcustom-all-items li {
    float: left;
    margin-right: 15px;
    letter-spacing: 0;
    display: inline-block;
}

.tbcustom-all-items li:last-of-type {
    margin-right: 0;
}

.tbcustom-clearfloat {
    float: none;
    clear: both;
}

/* 表格模板 */
.tbcustom-main-tabel {
    padding: 10px 20px;
}

.tbcustom-main-category {
    width: 100%;
    border: none;
}
.tbcustom-main-category th, .tbcustom-main-category td{
    border: none;
}
.tbcustom-main-category tr:nth-child(odd) {
    background: #F5F5F7;
}

.tbcustom-main-category .tbcustom-category-left {
    width: 100px;
    font-weight: bold;
    background: #fff;
}

.tbcustom-category-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    min-height: 50px;
    max-height: 150px;
    overflow: auto;
}

.tbcustom-category-list li {
    margin-left: 20px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}